:root {
  --color-primary: #08080F;
  --color-card: #111120;
  --color-inactive: #6B6B8A;
  --color-accent: #ffff99;
  --ion-font-family: "Golos Text", sans-serif;
}

.header-md::after {
  background-image: none;
}

.header-md {
  box-shadow: none;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: var(--color-primary);
}

ion-toolbar {
  --background: var(--color-primary);
  --padding-top: env(safe-area-inset-top);
  --min-height: calc(100px + env(safe-area-inset-top));
}

ion-title {
  font-size: 2em;;
}

ion-tab-bar {
  --background: var(--color-card);
}

ion-tab-button {
  --color: var(--color-inactive);
  --color-selected: var(--color-accent);
  gap: 5px;
}

ion-tab-button ion-icon {
  font-size: 24px;
}