.exercise-card {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border: 1px solid var(--color-inactive);
  background-color: var(--color-card);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercise-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exercise-name {
  font-size: 16px;
}

.exercise-card span {
  font-weight: 400;
  font-size: 12px;
}

.category {
  text-transform: uppercase;
  color: var(--color-inactive);
}

.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.weight-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.last-used {
  color: var(--color-inactive);
}

.used-weight {
  color: var(--color-accent);
}

.unit {
  color: var(--color-inactive);
}
